.home-container {
    text-align: left;
    width: 80%;
    align-self: center;
    gap: 3rem;
    min-height: 100vh;
}

.greeting {
    font-size: 5rem;
    color: var(--text-highlight);

    animation-name: fade-in;
    animation-duration: 4s;
}

.landing-text {
    text-align: left;
    font-size: 3rem;

    animation-name: fade-in;
    animation-duration: 4s;
}

.info-text {
    font-size: 1.4rem;
    text-align: left;
    width: 80%;
    margin-top: 2rem;

    opacity: 0;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@media (max-width: 768px) {

    .greeting {
        font-size: 4rem;
        color: var(--text-highlight);

        animation-name: fade-in;
        animation-duration: 4s;
    }

    .landing-text {
        text-align: left;
        font-size: 2rem;

        animation-name: fade-in;
        animation-duration: 4s;
    }

    .info-text {
        font-size: 1.6rem;
        text-align: left;
        width: 80%;
        margin-top: 2rem;

        opacity: 0;
        animation-name: fade-in;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
}

/*.typewriter h1 {*/
/*    overflow: hidden; !* Ensures the content is not revealed until the animation *!*/
/*    border-right: .15em solid orange; !* The typwriter cursor *!*/
/*    white-space: nowrap; !* Keeps the content on a single line *!*/
/*    margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
/*    letter-spacing: .15em; !* Adjust as needed *!*/
/*    animation:*/
/*            typing 3.5s steps(40, end),*/
/*            blink-caret .75s step-end infinite;*/
/*}*/

/*!* The typing effect *!*/
/*@keyframes typing {*/
/*    from { width: 0 }*/
/*    to { width: 100% }*/
/*}*/

/*!* The typewriter cursor effect *!*/
/*@keyframes blink-caret {*/
/*    from, to { border-color: transparent }*/
/*    50% { border-color: orange; }*/
/*}*/