.app {
    text-align: center;
    /*background-color: var(--background);*/
    color: var(--text);

    gap: 2rem;
    position: absolute;
}

html {
    background-color: var(--background);
}

.app-content {
    gap: 4rem;

    /*position: relative;*/
    /*z-index: 2;*/
    /*backdrop-filter: blur(5px);*/
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

a {
    text-decoration: none;
  display: contents;
}

.section-title {
    font-weight: bold;
    font-size: 3rem;
    color: var(--panel-bg);
    margin: 2rem;
}

.section-container {
    width: 100%;
    /*gap: 1.4rem;*/
    height: 100vh;
    align-items: center
}

.my-shape {
    width: 60rem;
    height: 60rem;
    background-color: rgba(127, 255, 212, 0.27);
    border-radius: 50rem;
    margin: 6rem;
}

@media (max-width: 768px) {
    .app-content {
        gap: 0rem;
    }

    .section-title {
        font-weight: bold;
        font-size: 2rem;
        color: var(--panel-bg);
        margin: 1rem;
    }

    .footer-container {
        font-size: 0.6rem;
        background-color: #16141d;
    }
}


/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
